[Desktop Entry]
Type=Application
Name=Godex
Comment=Launch from Applications or run: godex-ai-agent.godex
Exec=godex-ai-agent.godex
TryExec=godex-ai-agent.godex
Terminal=true
Icon=${SNAP}/gui/godex-ai-agent.png
Categories=Development;Utility;
