[Desktop Entry]
Type=Application
Name=Godex
Comment=Run in terminal with: godex-ai-agent.godex-terminal
Exec=godex-ai-agent.godex
TryExec=godex-ai-agent.godex
Terminal=true
Icon=${SNAP}/gui/godex-ai-agent.png
Categories=Development;Utility;
